<h1> Vacation Information </h1>

<p> Destination: <%= @vacation.destination %></p>
<p> Date: <%= @vacation.date %> </p>
<p> Hotel: <%= @vacation.hotel.name %> - <%= @vacation.hotel_price %></p>
<p> Airline: <%= @vacation.airline.name %> - <%= @vacation.airline_price %></p>

<%= button_to "Edit vacation", edit_vacation_path(@vacation), method: 'get' %>
<%=button_to "Back to client", client_path(@vacation.client_id), method: 'get' %>


