<h1> Client Info </h1>

<p><b>Name</b> - <%= @client.name%></p>
<p><b>Age</b> - <%= @client.age%></p>

<%=button_to "Edit Client", edit_client_path, method: 'get' %>
<%= button_to "Delete Client","/clients/#{@client.id}", method: 'delete' %>


<h1> List of vacations </h1>

<% @client.vacations.each do |vacation| %>
<li>
<%= link_to vacation.destination, vacation_path(vacation.id)%> - <%= vacation.date %>
</li>
<% end %>

<%=button_to "Back to client list", clients_path, method: 'get' %>
<%=button_to "Create Vacation", new_vacation_path, method: 'get'%>