<h1> List of Hotels </h2>

    <p> <strong> Name:</strong>  <%= @hotels[0].name%> </p>
        <p> <strong> Name:</strong>  <%= @hotels[1].name%> </p>
    <p> <strong> Name:</strong>  <%= @hotels[2].name%> </p>
    <p> <strong> Name:</strong>  <%= @hotels[3].name%> </p>
    <p> <strong> Name:</strong>  <%= @hotels[4].name%> </p>
    <p> <strong> Name:</strong>  <%= @hotels[5].name%> </p>
    <p> <strong> Name:</strong>  <%= @hotels[6].name%> </p>
    <p> <strong> Name:</strong>  <%= @hotels[7].name%> </p>
    <p> <strong> Name:</strong>  <%= @hotels[8].name%> </p>
    <p> <strong> Name:</strong>  <%= @hotels[9].name%> </p>
    <p> <strong> Name:</strong>  <%= @hotels[10].name%> </p>
    <p> <strong> Name:</strong>  <%= @hotels[11].name%> </p>
