<h1> List of Hotels </h2>

<p> <strong> Name:</strong>  <a href= "https://www.marriott.com/default.mi"> <%= @hotels[0].name%> </p> </a> 
<p> <strong> Name:</strong>  <a href= "https://www.hilton.com/en/"> <%= @hotels[1].name%> </p> </a> 
<p> <strong> Name:</strong> <a href= "https://www.wyndhamhotels.com/ramada"> <%= @hotels[2].name%> </p> </a>
<p> <strong> Name:</strong>  <a href= "https://www.trumphotels.com/"> <%= @hotels[3].name%> </p> </a>
<p> <strong> Name:</strong>  <a href= "https://www.fourseasons.com/"> <%= @hotels[4].name%> </p> </a>
<p> <strong> Name:</strong>  <a href= "https://www.choicehotels.com/quality-inn"><%= @hotels[5].name%> </p> </a>
<p> <strong> Name:</strong>  <a href= "https://www.wyndhamhotels.com/super-8"> <%= @hotels[6].name%> </p> </a>
<p> <strong> Name:</strong> <a href= "https://www.hilton.com/en/doubletree/"> <%= @hotels[7].name%> </p> </a>
<p> <strong> Name:</strong> <a href= "https://www.caesars.com/ballys-las-vegas"> <%= @hotels[8].name%> </p> </a>
<p> <strong> Name:</strong>  <a href= "https://www.hardrockhotels.com/"><%= @hotels[9].name%> </p> </a>
<p> <strong> Name:</strong>  <a href= "https://www.ritzcarlton.com/"><%= @hotels[10].name%> </p> </a>
<p> <strong> Name:</strong>  <a href= "https://www.caesars.com/caesars-palace/hotel"><%= @hotels[11].name%> </p> </a>

  
<%=button_to "Back" , clients_path, method: "get"%>
<%= button_to "Logout", logout_path, method: "delete"%> 